<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../assets/popcornIcon.ico" type="image/x-icon">
    <title>Cinema Manager | Favoritos</title>
</head>
<body style="background-color: rgb(37, 37, 37)">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-gradient">
            <div class="container-fluid">
                <img class="img-icon" src="../../assets/popcornIcon.png" alt="">
                <span class="navbar-brand fs-2">
                    Cinema Manager
                </span>
                
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <i class="bi bi-house fs-5 text-light mx-2"></i>
                            <a class="nav-link" href="index.html">Início</a>
                        </li>
                        <li class="nav-item">
                            <i class="bi bi-heart fs-5 text-light mx-2"></i>
                            <a class="nav-link" href="favorites.html">Favoritos</a>
                        </li>
                    </ul>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list  mx-2"></i>
                </button>
            </div>
        </nav>
    </header>

    <section>
        <div id="lists" class="container d-grid gap-3">            
            <div class="row">
                <i class="bi bi-chat-heart fs-5 text-danger col-auto"></i>
                <h2 class="fs-3 fw-bold text-danger col-auto">Favoritos</h2>
            </div>

            <div id="FavoritesList" class="row"></div>
        </div>
    </section>
</body>
</html>