@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('bootstrap-icons/font/bootstrap-icons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #181a1b;
}

.navbar-brand{
    font-weight: 800;
    font-size: 25px;
}

.nav-item{
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
}

.nav-item span{
    color: #fff;
}

.img-icon{
    height: 40px;
    width: 40px;
    margin: 10px 20px;
}
