<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="datails-screen.css">
    <link rel="icon" href="assets/popcornIcon.ico" type="image/x-icon">
    <title>Cinema Manager | Detalhes</title>
</head>
<body style="background-color: rgb(37, 37, 37)">
    <nav class="navbar bg-gradient">
        <div class="container">
            <a href="index.html">
                <button class="btn btn-outline-light btnVoltar"  title="voltar a página inicial">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
            </a>
        </div>
    </nav>

    <section class="text-light">
        <div class="container mt-4">
            <div class="row" id="movieDetails"></div>
        </div>
    </section>
</body>
</html>